<%- include ("partials/header") %>
  <body>
    <%- include ("partials/navbar") %>
    <% if (results.length==0) { %>
    <div>item not found</div>
    <% }%> <% for (let result of results) { %>
    <a
      class="card-light m-1"
      href="<%=`${result.ref}`%>"
      style="text-decoration: none"
    >
      <div class="card-horizontal">
        <div class="img-square-wrapper">
          <img class="" src="<%= result.image %>" width="160" height="200" />
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= result.name %></h4>
          <h6 class="card-subtitle mb-2 text-muted"><%= result.category %></h6>
          <h6 class="card-subtitle mb-3 mt-2">Price : <%= result.price %> $</h6>
        </div>
      </div>
    </a>
    <% } %>
  </body>
</html>
